@import "tailwindcss";

@theme {
  --font-display: "Onest", "sans-serif";
  --breakpoint-md: 64.0625rem;
  --breakpoint-sm: 38.25rem;
}

html,
body {
  @apply bg-black text-white font-medium text-base font-display relative;
}

a,
button {
  @apply transition-colors;
}

* {
  @apply md:cursor-none;
}

*::selection {
  @apply bg-white text-black;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background: #FFF;
}
